/* mulish font from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ------>>Shared Style<---------- */
:root {
    --primary-color: #FF5400;
    --primary-color2: #131318;
    --secondary-color: rgba(19, 19, 24, 0.70);
    --card-description-color: #5A5A5D;
}

* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

.primary-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.secondary-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.description {
    color: var(--card-description-color);
    margin: 20px 0;
}

.card-description {
    color: var(--card-description-color);
    margin-bottom: 15px;
}

/* Header style  */
/* banner part style  */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    width: 1170px;
    height: 100%;
    margin: 50px auto;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding: 106px 185px;
    text-align: center;
    color: #FFF;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    margin: 0 20px 50px;
}

.find-travel {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.where-go[type=text],
#travel-time,
#travel-type {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 0 16px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* .where-go[type=text]{
    margin: 0;
} */
/* popular tours style */
.popular-tours {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto;
    padding: 50px 0;
    gap: 20px;
}

.tours-content {
    padding-left: 20px;
}

.highlights {
    padding-left: 20px;
    line-height: 1.8rem;
}

.popular-tour-image {
    padding-left: 50px;
}

/* choose destination  */
.choose-destination,
.why-chose,
.deals-discount {
    max-width: 1170px;
    margin: 50px auto;
    text-align: center;
}

.choose-destination .description {
    padding: 0 264px;
}

.destination-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.chose-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

/* why-choose section style  */
.why-chose-card1,
.why-chose-card2,
.why-chose-card3 {
    text-align: left;
    padding: 30px;
}

.why-chose .chose-description {
    margin: 30px 190px;
}

.why-chose-card1,
.why-chose-card3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

.why-chose-card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-chose-card1 img,
.why-chose-card2 img,
.why-chose-card3 img {
    height: 64px;
    width: 64px;
}

.why-chose-card1 {
    grid-column: 1 / 7;
}

.why-chose-card2 {
    grid-column: 7 / 13;
}

.why-chose-card3 {
    grid-column: 4 / 10;
}

.choose-title {
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 10px 0;
}

/* deals & discount style  */
.discount-content-deals {
    padding: 0 20px;
}

.background-discount1,
.background-discount2,
.background-discount3 {
    display: flex;
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.background-discount1,
.background-discount3 {
    flex-direction: row-reverse;
}

.deals-content1 {
    background: url('../Images/deals1.png'), lightgray 50% / cover no-repeat;
}

.deals-content2 {
    background: url('../Images/deals2.png'), lightgray 50% / cover no-repeat;
}

.discount-content1,
.discount-content2 {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 50px;
    padding: 50px;
    justify-content: center;
    text-align: left;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(0px);
}

.discount-price {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 15px;
}

/* responsive style  */
/* MOBILE Device  */
@media screen and (max-width: 576px) {
    .description {
        padding: 0 20px;
    }

    header {
        padding: 20px;
    }

    .banner {
        width: 100%;
        /* height: 100%; */
    }

    .banner-content {
        padding: 30px 25px;
        margin: 20px 0;
    }

    .banner-description {
        margin-bottom: 30px;
    }

    .find-travel {
        display: inline-block;
        gap: 15px;
    }

    .where-go[type=text],
    #travel-time,
    #travel-type {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-btn {
        width: 100%;
    }

    .primary-btn {
        width: 100%;
    }

    .popular-tours {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0px;
    }

    .tours-content,
    .popular-tour-image {
        padding: 20px;
    }

    .popular-tour-image img {
        width: 100%;
    }

    .primary-title {
        font-size: 1.5rem;
    }

    /* choose destination style  */
    .choose-destination {
        width: 100%;
        margin: 0 auto;
    }

    .choose-destination .description {
        padding: 0 20px;
    }

    .destination-img-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .destination-img-container img {
        width: 100%;
        height: 176px;
    }

    /* chose card responsive style  */
    .chose-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }

    .why-chose .chose-description {
        margin: 30px;
    }

    /* deals & discount responsive  */
    .discount-content1,
    .discount-content2 {
        padding: 20px;
    }

    .deals-content1,
    .deals-content2 {
        padding-top: 180px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}